@import url('open-iconic/font/css/open-iconic-bootstrap.min.css');
@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap');
:root {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    --transition-speed: 300ms;
    --color-primary: #38543c;
    --color-secondary: #da5b33;
    --accent-primary: #5ce378;
    --accent-secondary: #007500;
    --navbar-height: 3.5rem;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.page-banner {
    background-image: url(/images/banner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 10.31%; /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
    position: relative;
}

#home-banner {
    background-image: url(/images/homepagebanner.jpg);
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 0;
    padding-top: 26.56%; /* (img-height / img-width * container-width) */
    /* (853 / 1280 * 100) */
    padding-bottom: 1rem;
    border-bottom: solid;
    border-color: var(--color-secondary);
    position: relative;
}

.generic-banner-wrapper {
    position: relative;
    height: 6rem;
    background-color: var(--color-primary);
    padding-inline: 17vw;
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.generic-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.generic-banner-content {
    color: white;
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
}

.generic-banner-button-wrapper {
    background-color: var(--color-primary);
    width: 10rem;
    color: black;
    z-index: 3;
    font-size: 20px;
    font-weight: bold;
    outline: solid;
    outline-color: whitesmoke;
    outline-width: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: background-color var(--transition-speed);
    cursor: pointer;
}

button.generic-banner-button-wrapper {
    text-decoration: none;
    color: white;
    transition: color var(--transition-speed);
}

.generic-banner-button-wrapper:hover {
    background-color: whitesmoke;
}

button.generic-banner-button-wrapper:hover {
    color: var(--color-secondary);
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}


.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
}

.home-banner-content {
    position: absolute;
    top: 10%;
    right: 5%;
    color: white;
    z-index: 10;
    font-size: 2rem;
    font-weight: bold;
}

/*.page-header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
}*/

main {
    background-color: white;
}

.article {
    padding-inline: 17vw;
}

.article-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flex {
    display: flex;
}

.article-header {
    grid-area: header;
    place-self: end start;
}

.article-content {
    grid-area: content;
    font-size: 1.35rem;
}

.article-logo {
    grid-area: logo;
    place-self: center end;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header logo"
        "content content logo"
        "content content logo";
}

article {
    place-self: start;
}

.navbar {
    padding-left: 5rem;
    padding-right: 5rem;
    border-bottom: 1px solid black;
    background-color: var(--color-primary)
}

.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    height: 3.5rem;
    width: 100%;
}

.nav-item {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.dropdown {
    position: relative;
}

.dropdown-item {
    color: black;
}

.dropdown-content {
    display: none;
    color: black;
    top: 3.5rem;
    left: 0;
    position: absolute;
    background-color: #f1f1f1;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 2;
}

.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}

.dropdown-content a:hover {
    background-color: #ddd;
}

.dropdown:hover .dropdown-content {
    display: block;
}

a.nav-link {
    text-decoration: none;
    color: white;
}

a.nav-link.dropdown-item {
    color: black;
}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
}


a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}

.carousel {
    
}

.center {
    margin: auto;
    width: 50%;
}

.test-div {
}

#carousel-border {
    background: blue;
    color: white;
}

li.has-submenu {
    position: relative;
}

.sub-menu {
    border-style: solid;
    border-width: 2px;
    background-color: dimgrey;
    position: absolute;
}

.w-50 {
    min-width: 50%;
}

.w-100 {
    width: 100%;
}

article {
    border-width: medium;
    max-width: 70ch;
    border-top-style: solid;
    border-width: 2px;
    border-color: var(--color-secondary);
    padding-top: 1rem;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0;
    font-family: 'Bebas Neue', cursive;
}



/* Small screens */
@media only screen and (max-width: 600px) {
    .navbar {
        bottom: 0;
        width: 100vw;
        padding-left: 0;
        padding-right: 0;
    }

    .logo {
        display: none;
    }

    .navbar-nav {
        flex-direction: row;
    }

    .nav-link {
        justify-content: center;
    }

    main {
        margin: 0;
    }

    .article-grid {
        grid-template-columns: 1fr
    }

    .article-logo {
        display: none;
    }
}

/* Large screens */
@media only screen and (min-width: 600px) {
    .navbar {
        height: var(--navbar-height);
        top: 0;
    }
}
