@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Varela+Round&display=swap');
:root {
    font-size: 16px;
    font-family: 'Varela Round', sans-serif;
    --transition-speed: 300ms;
    --color-primary: #38543c;
    --color-secondary: #da5b33;
    --accent-primary: #5ce378;
    --accent-secondary: #007500;
    --navbar-height: 5rem;
}

.site {
    display: flex;
    min-height: 100vh;
    flex-direction: column;
}

.site-content {
    flex: 1;
}

html {
    scroll-behavior: smooth;
}

body {
    color: black;
    background-color: white;
    margin: 0;
    padding: 0;
}

.page-banner {
    width: 100%;
}

.page-banner > img {
    max-width: 100%;
    height: auto;
}

.generic-banner-wrapper {
    position: relative;
    height: 6rem;
    background-color: var(--color-primary);
    padding-inline: 17vw;
}

@media only screen and (max-width: 400px) {
    .generic-banner-wrapper {
        padding-inline: 1rem;
    }
}

.generic-banner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
    z-index: 1;
}

.generic-banner-content {
    color: white;
    z-index: 2;
    font-size: 25px;
    font-weight: bold;
    font-family: 'Cinzel', serif;
}

.generic-banner-button-wrapper {
    background-color: var(--color-primary);
    width: 10rem;
    color: black;
    z-index: 3;
    font-size: 20px;
    font-weight: bold;
    outline: solid;
    outline-color: whitesmoke;
    outline-width: 4px;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    transition: background-color var(--transition-speed);
    cursor: pointer;
    padding-left: 1rem;
    padding-right: 1rem;
    font-family: 'Cinzel', serif;
}

button.generic-banner-button-wrapper {
    text-decoration: none;
    color: white;
    transition: color var(--transition-speed);
}

.generic-banner-button-wrapper:hover {
    background-color: whitesmoke;
}

button.generic-banner-button-wrapper:hover {
    color: var(--color-secondary);
}

button {
    font-size: 100%;
    font-family: inherit;
    border: 0;
    padding: 0;
}


.banner-content {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
    font-size: 25px;
    font-weight: bold;
}

.home-banner-content {
    position: absolute;
    top: 3%;
    right: 3%;
    color: white;
    z-index: 10;
    font-size: 2rem;
    font-weight: bold;
}

@media only screen and (max-width: 1500px) {
    .home-banner-content {
        display: none;
    }
}


/*.page-header {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-bottom: 2rem;
}*/



.article {
    padding-inline: 17vw;
}

@media only screen and (max-width: 400px) {
    .article {
        padding-inline: 1rem;
    }
}

.article-wrapper {
    padding-top: 5rem;
    padding-bottom: 5rem;
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.flex {
    display: flex;
}

.article-header {
    grid-area: header;
    place-self: end start;
}

.article-content {
    grid-area: content;
    font-size: 1.35rem;
}

.article-logo {
    grid-area: logo;
    place-self: center end;
}

.article-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        "header header logo"
        "content content logo"
        "content content logo";
}

article {
    place-self: start;
}


}

.logo {
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 1rem;
    text-align: center;
    align-items: center;
    color: var(--text-secondary);
    background: var(--bg-secondary);
    font-size: 1.5rem;
    letter-spacing: 0.3ch;
}


a, .btn-link {
    color: #0366d6;
}

.btn-primary {
    color: #fff;
    background-color: #1b6ec2;
    border-color: #1861ac;
}

.content {
    padding-top: 1.1rem;
}

.valid.modified:not([type=checkbox]) {
    outline: 1px solid #26b050;
}

.invalid {
    outline: 1px solid red;
}

.validation-message {
    color: red;
}

#blazor-error-ui {
    background: lightyellow;
    bottom: 0;
    box-shadow: 0 -1px 2px rgba(0, 0, 0, 0.2);
    display: none;
    left: 0;
    padding: 0.6rem 1.25rem 0.7rem 1.25rem;
    position: fixed;
    width: 100%;
    z-index: 1000;
}

#blazor-error-ui .dismiss {
    cursor: pointer;
    position: absolute;
    right: 0.75rem;
    top: 0.5rem;
}


.center {
    margin: auto;
    width: 50%;
}

.test-div {
}

#carousel-border {
    background: blue;
    color: white;
}

li.has-submenu {
    position: relative;
}

.sub-menu {
    border-style: solid;
    border-width: 2px;
    background-color: dimgrey;
    position: absolute;
}

.w-50 {
    min-width: 50%;
}

.w-100 {
    width: 100%;
}

article {
    border-width: medium;
    max-width: 70ch;
    border-top-style: solid;
    border-width: 2px;
    border-color: var(--color-secondary);
    padding-top: 1rem;
}

h1 {
    font-size: 3.5rem;
    margin-bottom: 2rem;
    margin-top: 2rem;
    font-family: 'Bebas Neue', cursive;
}

h2 {
    font-size: 3.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0;
    font-family: 'Bebas Neue', cursive;
}

.calendar {
    border: 0;
    width: clamp(325px, 80vw, 700px);
    aspect-ratio: 8 / 8;
    align-self: center;
    margin-bottom: 2rem;
}

.calendar-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-content: center;
}

.calendar-wrapper > h1 {
    align-self: center;
}



main {
    background-color: white;
    z-index: 1;
}

#home-banner{
    display: none;
}
