@page "/Boosters"
@inherits MosleyComponentBase;

<h3>Boosters</h3>

<article>
    Boosters
The Mosley Band Boosters, founded in 1974 as a 501c Non Profit Organization, supports the mission and purpose of the A. Crawford Mosley Band. The Band Boosters fosters and promotes the image and the reputation of the A. Crawford Mosley High School Band and shall support the band in the following manner:

Promote the interest in the band.
Foster the interest of the band students.
Aid in the raising of funds for instruments, equipment, and support expenses.
Assist the Band Director. 
Furnishing chaperones for band events.
Encouragement of new parent involvement
Support and advocacy of music programs in public schools. 

Those who do not have a family member in the band may join the boosters for a nominal fee, outlined in the bylaws, and are then able to assist in any capacity or hold any office in the organization.

</article>

@code {

}
