@page "/Calendar"
@inherits MosleyComponentBase;

<div class="calendar-wrapper">
   <h1 class="calendar-header">Calendar</h1>

    <iframe class="calendar" src="https://calendar.google.com/calendar/embed?src=mosleybandboosters%40gmail.com&ctz=America%2FChicago&showTitle=0" frameborder="0"></iframe>
</div>
