@page "/College"

<div class="college-page-wrapper">
    <header>
        <h1>College bands</h1>
    </header>

    <div class="row-wrapper">
        <article>
            <h2>Troy University Bands</h2>
            <img src="/images/college-logos/troy-logo.png" height="300" width="300" />
            <div>
                <a class="generic-banner-button-wrapper" href="https://www.troy.edu/academics/colleges-schools/college-communication-fine-arts/departments/john-m-long-school-music/sound-of-the-south/index.html">View Website</a>
            </div>
        </article>

        <article>
            <h2>Gulf Coast State College Visual and Performing Arts</h2>
            <img src="/images/college-logos/gcsc-logo.png" height="300" width="300" />

            <div>
                <a class="generic-banner-button-wrapper" href="https://www.gulfcoast.edu/current-students/academic-divisions/visual-performing-arts/index.html">View Website</a>
            </div>
        </article>
    </div>

    <div class="row-wrapper">
        <article>
            <h2>Florida Agricultural and Mechanical University Bands</h2>
            <img src="/images/college-logos/famu-logo.png" height="300" width="300" />
            <div>
                <a class="generic-banner-button-wrapper" href="https://www.famubands.com/">View Website</a>
            </div>
        </article>

        <article>
            <h2>Florida State University Bands</h2>
            <img src="/images/college-logos/fsu-logo.png" height="300" width="300" />
            <div>
                <a class="generic-banner-button-wrapper" href="https://music.fsu.edu/ensembles/bands">View Website</a>
            </div>
        </article>
    </div>


    <div class="row-wrapper">
        <article>
            <h2>University of Florida Bands</h2>
            <img src="/images/college-logos/uf-logo.png" height="300" width="300" />

            <div>
                <a class="generic-banner-button-wrapper" href="https://www.ufbands.com/">View Website</a>
            </div>
        </article>

        <article>
            <h2>University of West Florida Bands</h2>
            <img src="/images/college-logos/uwf-logo.png" height="300" width="300" />

            <div>
                <a class="generic-banner-button-wrapper" href="https://uwf.edu/cassh/departments/dr-grier-williams-school-of-music/about-us/argo-athletic-band/">View Website</a>
            </div>
        </article>
    </div>

    <div class="row-wrapper">
        <article>
            <h2>University of South Florida Bands</h2>
            <img src="/images/college-logos/usf-logo.png" height="300" width="300" />

            <div>
                <a class="generic-banner-button-wrapper" href="https://www.usf.edu/arts/music/students/ensembles.aspx">View Website</a>
            </div>
        </article>

        <article>
            <h2>University of Central Florida Bands</h2>
            <img src="/images/college-logos/ucf-logo.png" height="300" width="300" />
            <div>
                <a class="generic-banner-button-wrapper" href="https://ucfbands.com/">View Website</a>
            </div>
        </article>
    </div>

</div>















