.row-wrapper {
    display: flex;
    justify-content: center;
    gap: 2rem;
    flex-wrap: wrap;
    width: 100%;
}

.row-wrapper:nth-child(2n) {
    background-color: lightgray;
}

.row-wrapper > article {
    width: 45%;
    min-width: clamp(350px, 45vw, 500px);
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    padding-top: 2rem;
    padding-bottom: 4rem;
}


header > h1 {
    font-size: 3.5rem;
    margin-bottom: 0.25rem;
    margin-top: 0;
    font-family: 'Bebas Neue', cursive;
}

.college-page-wrapper > header {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-top: 2rem;
    margin-bottom: 2rem;
    align-self: center;
}

article > * {
    align-self: center;
}

article > h2 {
    font-size: clamp(2.5rem, -0.8750rem + 8.3333vw, 3rem);
    justify-self: start;
}

article > img {
    padding-bottom: 1rem;
}

article:nth-child(2n+3) {
    background-color: lightgray;
}

a.generic-banner-button-wrapper {
    text-decoration: none;
    color: white;
    outline-color: var(--color-secondary);
    transition: outline-color var(--transition-speed);
    transition: color var(--transition-speed)
}


a.generic-banner-button-wrapper:hover {
    color: var(--color-secondary);
    outline-color: var(--color-primary);
}
