@page "/Ensembles/Colorguard"
@inherits MosleyComponentBase;

<img class="photo" src="/images/staff.jpg">

<h3>ColorGuard</h3>

What is Colorguard? 

Colorguard is a combination of the use of flags, sabers, mock rifles, and other equipment, as well as dance and other interpretive movements. 
Colorguards can be found in high schools, middle schools, universities, and other independent organizations. 
The Mosley Colorguard performs with the “Sound of the Southland” Marching Band at all football games as well as other scheduled competitions and parades, as well as Solo and Ensemble. 
