.coming-soon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    height: 100vh;
    background-color: #42413f;
    gap: 1.5rem;
    font-family: 'Cinzel', serif;
}

h1 {
    margin: 0;
}

.coming-soon > * {
    align-self: center;
    color: #D8C973;
}

.coming-soon > h1 {
    font-size: 4rem;
    align-self: center;
    justify-self: center;
}

.coming-soon > div {
    font-size: 2rem;
}

.coming-soon > span {
    font-size: 2rem;
}

.coming-soon > img {
    max-width: clamp(250px, 80vw, 500px);
}
