@page "/ComingSoon"
@inherits MosleyComponentBase;
@using Microsoft.AspNetCore.Components.WebAssembly.Hosting

    <div class="coming-soon">
        <img height="393" width="523" src="/images/Band_logo_mockup.png" alt="mosley band logo - banner with script 'M''">
        <h1>Welcome to the Mosley Bands Website</h1>
        <div>Mosleybands.com is currently under development and will be available soon!</div>
        @if (@Layout.Environment == "Development" || @Layout.Environment == "Staging")
        {
            <input class=login-button type="password" @bind="PasswordEntry" />

            <button class="login-button" @onclick=@(async () => await SignIn())>I wanna see</button>
        }
    </div>



@code {
    [CascadingParameter]
    public bool IsAuthorized { get; set; }

    [CascadingParameter]
    public MainLayout? Layout { get; set; }

    public string? PasswordEntry { get; set; }
    public string Password { get; set; } = "GoMosleyBands!";
    public bool Passed { get; set; }

    public async Task SignIn()
    {
        if (PasswordEntry == Password)
            Layout.Authorize();
    }
}