@page "/ComingSoon"

<div class="coming-soon">
    <img src="/images/Band_logo_mockup.png">
    <h1>Welcome to the Mosley Bands Website</h1>
    <div>Mosleybands.com is currently under development and will be available soon!</div>
</div>



