.coming-soon {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-self: center;
    background-color: #42413f;
    gap: 1.5rem;
    font-family: 'Cinzel', serif;
    height: 100vh;
}

h1 {
    margin: 0;
}

.coming-soon > * {
    align-self: center;
    color: #D8C973;
    font-size: clamp(1rem, 2rem, 8vw);
}

.coming-soon > h1 {
    font-size: clamp(2rem, 3rem, 8vw);
    align-self: center;
    justify-self: center;
}
.coming-soon > img {
    align-self: center;
    max-width: 100%;
    height: auto;
}

.login-button {
    color: black;
}
