@inherits EnsembleComponentBase

@if (!Loading)
{
    <div class="ensemble-component-wrapper">
        <p>@Blurb</p>
        <h2>@Header</h2>
        <img width="700" height="394" src=@PicturePath alt="The selected ensemble performing."/>
        <article >
            @Article
        </article>
    </div>
}