.ensembles-page-wrapper {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    margin-right: 1rem;
}

    .ensembles-page-wrapper > article {
        align-self: center;
        border: none;
        max-width: 100%;
    }

    .ensembles-page-wrapper > div {
        align-self: center;
        border: none;
        max-width: 700px;
    }

    .ensembles-page-wrapper > header {
        width: 100%;
        display: flex;
        justify-content: center;
        align-self: center;
    }

@media only screen and (min-width: 1500px) {
    .ensembles-page-wrapper > article {
        align-self: center;
        border: none;
        max-width: 100%;
        width: 75%;
    }

    .ensembles-page-wrapper > div {
        align-self: center;
        border: none;
        max-width: 100%;
        width: 75%;
    }
}

#scrollTop {
    position: fixed;
    right: 10px;
    bottom: 10px;
    cursor: pointer;
    width: 50px;
    display: block;
    height: 50px;
    background-color: var(--color-primary);
    text-indent: -9999px;
    -webkit-border-radius: 60px;
    -moz-border-radius: 60px;
    border-radius: 60px; 
    transition: display 0s, opacity 0.5s ease-in;
}

    #scrollTop span {
        position: absolute;
        top: 50%;
        left: 50%;
        margin-left: -8px;
        margin-top: -12px;
        height: 0;
        width: 0;
        border: 8px solid transparent;
        border-bottom-color: #ffffff;
    }

    #scrollTop:hover {
        background-color: var(--color-secondary);
    }