@page "/Faq"

<h3>Faq</h3>

<div>1. What is marching band?
Marching band is a group of instrumental musicians and color guard performers that coordinate movements with a musical performance, for the purpose of exercise, entertainment, and competition.
 
3. Why should I join?
There are several major reasons listed on the band’s website in the join the band section. But here are just a few, you make friends with everyone involved, it’s great exercise, you improve your musical ability and technique, you develop leadership skills, and a strong work ethic, you learn time management and how to problem solve, and you get to attend competitions specifically for marching bands! If these reasons don’t appeal to you, don’t forget that marching band is FUN!
 
4. How do I join / register?
Complete the “Intent to Participate” found on the home page of the website.	
Email Mr. Dobos at dobosdg@bay.k12.fl.us for any additional information.
Email your high school guidance counselor to ensure you are enrolled in a band class.
 
6. I am interested in taking part in other co-curricular activities where there may be conflicts with band; can I still be in band?
YES! We have had band students who are part of all kinds of student organizations and play sports such as theater, cross country, and softball. In an effort to give students the opportunity to enrich their education through multiple experiences, we encourage all students to take part in all activities that they are interested in. The band wants every student to have as many opportunities, experiences, and educational moments as possible! The band works closely with coaches to create a schedule that works for all involved and won't hurt the student's standing in either organization. Students must also help in the scheduling process and not just expect band staff to do it all for them.
 
7. Is it expensive to join?
First off, money should never be a reason not to join the band. If you are unable to meet the monetary needs of the group, please feel free to talk to a band booster officer or staff member and we can certainly help. There is a fair share of around $225 to join the band, this is made payable to the boosters, and is used to cover the cost of charter bus transportation to competitions and football games, band camp clinicians, drill, music, and other large purchases for the band such as instruments, uniforms, meals, etc. Members are also required to purchase black Bando shoes from Playground Music. Ample fundraisers are offered to offset or even completely cover your fair share! Remember, MONEY SHOULD NEVER BE A REASON NOT TO JOIN BAND!
 
14. What should I bring to band camp?
</div>
