@page "/"
@inherits MosleyComponentBase;

<PageTitle>Index</PageTitle>

<div class="page-banner" >
    <img id="home-banner" src="/images/homepagebanner.jpg"/>
    <div class="home-banner-content">
        Mosley Band(dev)
    </div>
</div>

<div class="generic-banner-wrapper">
    <div class="generic-banner">
        <div class="generic-banner-content">
            Show your support for the Mosley Band.
        </div>
        <button class="generic-banner-button-wrapper" @onclick=NavigateToSupport>
            Donate Now!
        </button>
    </div>
</div>

<div class="article-wrapper">
    <div class="article">
        <div class="w-50 article-grid">
            <h2 class="article-header">Why Band?</h2>
                <article class="article-content">
                    Participation in a multifaceted and dynamic high school band program builds self-confidence, leadership skills and discipline. It instills a sense of purpose and an understanding of the value of commitment and what hard work can produce.Students in the Mosley Band Program will learn these values through striving for common goals that will foster the personal growth and development of each student, ensuring they are adequately prepared for life after high school.  
                   <br /> <br /> Have buttons for “Prospective Students” that links to a FAQ page and “Intent to Participate” that links to a Google Form that I will send you.
                   <button>Join Band</button>
                   <button @onclick=GoToFaq>Prospective Students</button>
                </article>
                <img class="article-logo" src="/images/dolphin_logo.jpg"/>
        </div>
    </div>
</div>


<PictureGridNav />



@code {
    [Parameter]
    public EventCallback TestEventCallback { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public void NavigateToSupport()
    {
        NavigationManager.NavigateTo("https://snap-raise.com/v2/fundraisers/a-crawford-mosley-hs-band-drive-2021#/");
    }

    public void GoToFaq()
    {
        NavigationManager.NavigateTo("/Faq");
    }
}