@page "/"
@inherits MosleyComponentBase;

<PageTitle>Index</PageTitle>

<div class="page-banner" id="home-banner">
    <div class="home-banner-content">
        Mosley Band
    </div>
</div>

<div class="generic-banner-wrapper">
    <div class="generic-banner">
        <div class="generic-banner-content">
            Show your support for the Mosley Band.
        </div>
        <button class="generic-banner-button-wrapper" @onclick=NavigateToSupport>
            Donate Now!
        </button>
    </div>
</div>

<div class="page-wrapper">
    <div class="w-50">
        <h2>Why Band?</h2>
        <article>
            Participation in a multifaceted and dynamic high school band program builds self-confidence, leadership skills and discipline. 
            It instills a sense of purpose and an understanding of the value of commitment and what hard work can produce.(weak ending-possibly rewrite)
        </article>
    </div>
</div>

@code {
    [Parameter]
    public EventCallback TestEventCallback { get; set; }
    [Inject]
    public NavigationManager NavigationManager { get; set; }

    public void NavigateToSupport()
    {
        NavigationManager.NavigateTo("Support");
    }

}