@page "/"
@inherits MosleyComponentBase;
@inject NavigationManager NavigationManager

<PageTitle>Mosley Bands</PageTitle>

<div class="page-banner" >
    <img width="1920" height="648" id="home-banner" src="/images/homepagebanner.jpg" alt="Mosley Marching band lined up, ready to step onto the field"/>
    <div class="home-banner-content">
        <img width="300" height="300" href="/" src="/images/mosley_logo_med.png" />
    </div>
</div>



<div class="article-wrapper">
    <div class="article">
        <div class="w-50 article-grid">
            <h2 class="article-header">Pride. Artistry. Excellence.</h2>
                <article class="article-content">
                    Participation in a multifaceted and dynamic high school band program builds self-confidence, leadership skills and discipline. It instills a sense of purpose and an understanding of the value of commitment and what hard work can produce. Students in the Mosley Band Program will learn these values through striving for common goals that will foster the personal growth and development of each student, ensuring they are adequately prepared for life after high school.  
                </article>
                <img class="article-logo" src="/images/dolphin_logo.jpg" alt="Mosley High School Crest - Dolphin in front of ornate shield"/>
        </div>
    </div>
</div>

<div class="generic-banner-wrapper">
    <div class="generic-banner">
        <div class="generic-banner-content">
            Support the Mosley Band!
        </div>
        <button class="generic-banner-button-wrapper" @onclick=NavigateToSupport>
            Donate Now
        </button>
    </div>
</div>

<PictureGridNav />

<ContactFooter />

@code {
    public void NavigateToSupport()
    {
        NavigationManager.NavigateTo("https://snap-raise.com/v2/fundraisers/a-crawford-mosley-hs-band-drive-2021#/");
    }

    public void GoToFaq()
    {
        NavigationManager.NavigateTo("/Faq");
    }
}