@page "/"
@inherits MosleyComponentBase;

<PageTitle>Index</PageTitle>

<div class="page-banner" id="home-banner">
    <div class="banner-content">
        Mosley Band
    </div>
</div>

<div class="generic-banner-wrapper">
    <div class="generic-banner">
        <div class="generic-banner-content">
            Show your support for the Mosley Band.
        </div>
        <div class="generic-banner-button-wrapper button-column">
            <a href="/Staff">
                Donate Now!
            </a>
        </div>
    </div>
</div>

<div class="page-wrapper">
    Test Change 2
</div>

@code {
    [Parameter]
    public EventCallback TestEventCallback { get; set; }
}