@page "/Ensembles/Jazz"
@inherits MosleyComponentBase;

<img class="photo" src="/images/staff.jpg">

<h3>Jazz Ensemble</h3>

The Mosley Jazz Ensemble is open to any musician currently enrolled in a band class.
Students will learn jazz history, jazz theory, and techniques specific to this American artform. 
Jazz Ensemble meets each day and for select after-school rehearsals. 
