.footer-wrapper {
    background-color: #1A371E;
    height: 12vh;
    display: flex;
    justify-content: center;
    align-content: center;
    font-size: 1.15rem;
}

.footer-wrapper > * > a{
    text-decoration: none;
    color: var(--color-secondary);
}

.footer-wrapper > div {
    align-self: center;
    color: white;
}