@page "/Ensembles/Percussion"
@inherits MosleyComponentBase;

<h3>Percussion</h3>

The percussion program at Mosley is comprised of percussion students that perform with the Mosley Drumline, percussion ensemble, as well as several small chamber groups. 
Percussion students at Mosley meet each day during school. 
Percussion students at Mosley are trained in a variety of aspects of percussion and have an opportunity to perform with not only the above ensembles 
but also in one of two concert bands and jazz band.
