@inject NavigationManager NavigationManager

<div class="big-grid">

    <div class="container">
        <img class="img-thing" src="/images/white_bg_credit_card.png" width="80" alt="small white icon of credit card">
        <h2 class="title">Donations</h2>
        <img class="blur shadow grid-img" src="images/donation.jpg" alt="hands reaching into a wallet to get some money">
        <button class="end-center generic-banner-button-wrapper" @onclick=GotoDonations>Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_calendar.png" width="80" alt="small white icon of calendar">
        <h2 class="title">Calendar</h2>
        <img class="blur shadow grid-img" src="images/calendar.jpg" alt="calendar with glasses lying on top">
        <button class="end-center generic-banner-button-wrapper" @onclick=GotoCalendar>Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_clipboard.png" width="80" alt="small white icon of clipboard">
        <h2 class="title">Register</h2>
        <img class="blur shadow grid-img" src="images/register_2.jpg" alt="group photo of mosley band in uniform - in an auditorium">
        <button class="end-center generic-banner-button-wrapper" @onclick=GotoRegister>Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_hand_heart.png" width="80" alt="small white icon of hand with a heart shape above hand">
        <h2 class="title">Boosters</h2>
        <img class="blur shadow grid-img" src="images/boosters.jpg" alt="group of volunteers ready to help the band">
        <button class="end-center generic-banner-button-wrapper" @onclick=GotoBoosters>Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_bg_staff.png" width="80" alt="small white icon of a group of people, cartoonized">
        <h2 class="title">Ensembles</h2>
        <img class="blur shadow grid-img" src="images/meet_the_staff.jpg" alt="Mosley band right before a performance, gathered around the band director">
        <button class="end-center generic-banner-button-wrapper" @onclick=GoToEnsembles>Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_bg_grad_cap.png" width="80" alt="small white icon of graduation cap">
        <h2 class="title">College Bands</h2>
        <img class="blur shadow grid-img" src="images/college_bands.jpg" alt="black and white photo of pearl bass drum">
        <button class="end-center generic-banner-button-wrapper" @onclick=GotoCollegeBands>Details</button>
    </div>


</div>

@code {
    public void GotoDonations()
    {
        NavigationManager.NavigateTo("https://snap-raise.com/v2/fundraisers/a-crawford-mosley-hs-band-drive-2021#/");
    }

    public void GotoCalendar()
    {
        NavigationManager.NavigateTo("/Calendar");
    }
    public void GotoRegister()
    {
        NavigationManager.NavigateTo("https://docs.google.com/forms/d/e/1FAIpQLSfM861SeZh_sOVQTho0KuqDqXvcpeHa9FWPOKZ29XipabhEDw/viewform");
    }
    public void GotoBoosters()
    {
        NavigationManager.NavigateTo("/Boosters");
    }
    public void GotoMeetTheStaff()
    {
        NavigationManager.NavigateTo("/Staff");
    }
    public void GotoCollegeBands()
    {
        NavigationManager.NavigateTo("/College");
    }
    public void GoToEnsembles()
    {
        NavigationManager.NavigateTo("/Ensembles");
    }
}