.container {
    display: grid;
    grid-template-rows: 1fr;
    place-items: center;
    place-content: center;
    overflow: hidden;
    max-height: clamp(300px, 40vh, 375px);
    width: auto;
    aspect-ratio: 7 /6;
    position: relative;
    margin: 0 auto;
    width: 100%;
    color: #da5b33;
    text-shadow: -1px -1px 0 #000, 2px -1px 0 #000, -1px 2px 0 #000, 2px 2px 0 #000;
}

.big-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 3rem;
    box-sizing: border-box;
    padding-inline: 10vw;
    background-color: #D3D3D3;
    padding-top: 10rem;
    padding-bottom: 10rem;
}

@media (max-width: 1430px) {
    .big-grid {
        grid-template-columns: 1fr 1fr;
    }
}

@media (max-width: 930px) {
    .big-grid {
        grid-template-columns: 1fr;
    }
}




.container > * {
    grid-area: container;
    max-height: clamp(300px, 40vh, 375px);
}

.grid-img {
    max-height: clamp(300px, 50vh, 500px);
    min-height: 1px;
    width: auto;
}

.img-thing {
    justify-self: center;
    align-self: start;
    margin-top: 7vh;
    z-index: 1;
}

.blur {
    filter: blur(3px);
}

.title {
    place-self: auto center;
}

.subtitle {
    place-self: end center;
}

.end-center {
    margin-bottom: 8vh;
    justify-self: center;
    align-self: end;
}

@media (max-width: 475px) {
    .img-thing {
        margin-top: 2vh;
    }

    .end-center {
        margin-bottom: 5vh;
    }
}

.item {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: end;
    align-items: center;
    aspect-ratio: 7 /6;
}

.shadow {
    /*box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;*/
    border-style: solid;
}



.title {
    position: relative;
    font-family: "Gorditas", sans-serif;
    font-size: clamp(2rem, 4vw, 2.5rem);
    text-align: center;
    padding: 1rem;
    z-index: 1;
}

.subtitle {
    position: relative;
    font-family: "Gorditas", sans-serif;
    font-size: clamp(1rem, 4vw, 2.5rem);
    text-align: center;
    padding: 1rem;
    z-index: 1;
}
