<div class="big-grid">

    <div class="container">
        <img class="img-thing" src="/images/white_bg_credit_card.png" width="80">
        <h2 class="title">Donations</h2>
        <div class="item">
            <img class="blur shadow" src="images/donation.jpg" width="700" height="500" alt=''>
        </div>
        <button class="end-center generic-banner-button-wrapper">Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_calendar.png" width="80">
        <h2 class="title">Calendar</h2>
        <div class="item">
            <img class="blur shadow" src="images/calendar.jpg" width="700" height="500" alt=''>
        </div>
        <button class="end-center generic-banner-button-wrapper">Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_clipboard.png" width="80">
        <h2 class="title">Register</h2>
        <div class="item">
            <img class="blur shadow" src="images/register_2.jpg" width="700" height="500" alt=''>
        </div>
        <button class="end-center generic-banner-button-wrapper">Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_hand_heart.png" width="80">
        <h2 class="title">Boosters</h2>
        <div class="item">
            <img class="blur shadow" src="images/boosters.jpg" width="700" height="500" alt=''>
        </div>
        <button class="end-center generic-banner-button-wrapper">Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_bg_staff.png" width="80">
        <h2 class="title">Meet The Staff</h2>
        <div class="item">
            <img class="blur shadow" src="images/meet_the_staff.jpg" width="700" height="500" alt=''>
        </div>
        <button class="end-center generic-banner-button-wrapper">Details</button>
    </div>

    <div class="container">
        <img class="img-thing" src="/images/white_bg_grad_cap.png" width="80">
        <h2 class="title">College Bands</h2>
        <div class="item">
            <img class="blur shadow" src="images/college_bands.jpg" width="700" height="500" alt=''>
        </div>
        <button class="end-center generic-banner-button-wrapper">Details</button>
    </div>


</div>
