@page "/Ensembles/Sotsl"
@inherits MosleyComponentBase;

<h3>Sound of the Southland</h3>

Founded in 1974, the “Sound of the Southland” (SOTSL) serves as the marching band within the Mosley Band Program. 
The SOTSL performs regularly for all football home and away games, community parades, and various events throughout Bay County. 
The group participates in regional marching band competitions and festivals, where they consistently receive “Superior” ratings and other accolades. 

@code {




}