@page "/Staff"
@inherits MosleyComponentBase;

<div class="page-banner">
    <div class="banner-content">
        Meet The Staff
    </div>
</div>


@*Director – Douglas Dobos <br />
    Band Assistant – Ralph Ford <br />
    Colorguard Director – Christy Morcate <br />
    Colorguard Choreographer – Holli Porter <br />
    Percussion Instructor – Jamiel Vadell <br />
    Percussion Instructor – Wendell Raulerson <br />
    Percussion Instructor – Collin Davdison <br />*@

<div class="page-wrapper">
    <div class="grid-container">

    <div class="grid-item">
        <div class="grid-photo">
            <img src="/images/staff.jpg" alt="poorly drawn image of man">
        </div>
        <div class="photo-header">Douglas Dobos</div>
        <div class="staff-title">Band Director</div>
        <div class="grid-button"><button class="grid-button button">Read Bio</button></div>
    </div>

    <div class="grid-item">
        <div class="grid-photo">
            <img src="/images/staff.jpg" alt="poorly drawn image of man">
        </div>
        <div class="photo-header">Ralph Ford</div>
        <div class="staff-title">Band Assistant</div>
        <div class="grid-button"><button class="grid-button button">Read Bio</button></div>
    </div>

    <div class="grid-item">
        <div class="grid-photo">
            <img src="/images/staff.jpg" alt="poorly drawn image of man">
        </div>
        <div class="photo-header">Christy Morcate</div>
        <div class="staff-title">Colorguard Director</div>
        <div class="grid-button"><button class="grid-button button">Read Bio</button></div>
    </div>

    <div class="grid-item">
        <div class="grid-photo">
            <img src="/images/staff.jpg" alt="poorly drawn image of man">
        </div>
        <div class="photo-header">Holli Porter</div>
        <div class="staff-title">Colorguard Choreographer</div>
        <div class="grid-button"><button class="grid-button button">Read Bio</button></div>
    </div>

    <div class="grid-item">
        <div class="grid-photo">
            <img src="/images/staff.jpg" alt="poorly drawn image of man">
        </div>
        <div class="photo-header">Jamiel Vadell</div>
        <div class="staff-title">Percussion Instructor</div>
        <div class="grid-button"><button class="grid-button button">Read Bio</button></div>
    </div>

    <div class="grid-item">
        <div class="grid-photo">
            <img src="/images/staff.jpg" alt="poorly drawn image of man">
        </div>
        <div class="photo-header">Wendell Raulerson</div>
        <div class="staff-title">Percussion Instructor</div>
        <div class="grid-button"><button class="grid-button button">Read Bio</button></div>
    </div>

    <div class="grid-item">
        <div class="grid-photo">
            <img src="/images/staff.jpg" alt="poorly drawn image of man">
        </div>
        <div class="photo-header">Collin Davdison</div>
        <div class="staff-title">Percussion Instructor</div>
        <div class="grid-button"><button class="grid-button button">Read Bio</button></div>
    </div>

</div>
</div>
