@if (ShowSubMenu)
{
    <div class="sub-menu">
        <a class="nav-link" href="/Ensembles/Sotsl" @onclick=CloseSubMenu>Sound of the Southland</a>
        <a class="nav-link" href="/Ensembles/SymphonyBand" @onclick=CloseSubMenu>Symphony Band</a>
        <a class="nav-link" href="/Ensembles/SymphonicBand" @onclick=CloseSubMenu>Symphonic Band</a>
        <a class="nav-link" href="/Ensembles/Jazz" @onclick=CloseSubMenu>Jazz Ensemble</a>
        <a class="nav-link" href="/Ensembles/Percussion" @onclick=CloseSubMenu>Percussion</a>
        <a class="nav-link" href="/Ensembles/Colorguard" @onclick=CloseSubMenu>Colorguard</a>
    </div>  
}

@code {
    [CascadingParameter]
    private bool ShowSubMenu { get; set; }

    [Parameter]
    public EventCallback OnCloseButtonClick { get; set; }

    public async Task CloseSubMenu()
    {
        ShowSubMenu = !ShowSubMenu;
        await OnCloseButtonClick.InvokeAsync();
    }
}
