@page "/Ensembles/SymphonicBand"
@inherits MosleyComponentBase;

<h3>Symphonic Band</h3>

The Symphonic Band is the intermediate group within the Mosley Band Program. 
This ensemble is non-auditioned and is open to any band students. 
The Symphonic Band will foster and develop students’ individual and ensemble skills in a setting best suited to meet their needs. 
