@page "/Ensembles/SymphonyBand"
@inherits MosleyComponentBase;

<img class="photo" src="/images/staff.jpg">

<h3>Symphony Band</h3>

The Mosley Symphony Band is the advanced group and premiere instrumental ensemble of the Mosley Band Program. 
The Mosley Symphony Band is an auditioned ensemble that is open to all band students and historically performs Grade Five literature. 
