@page
@using Microsoft.AspNetCore.Components
@using mosley_website.Client
@addTagHelper *, Microsoft.AspNetCore.Mvc.TagHelpers
@inject Microsoft.AspNetCore.Hosting.IWebHostEnvironment hostingEnv
@inject PersistentComponentState ApplicationState

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=5"  />
    <meta name="description" content="The Mosley Band Programs is a group of award winning marching and concert bands located in Panama City, Florida. Mosley Bands is dedicated to producing quality musicians and strives to develop youth who will go on to be vigilant leaders in their lives.">
    <title>Mosley Bands</title>
    <base href="/" />
    <link href="css/app.css" rel="stylesheet" />
    <link href="mosley_website.Client.styles.css" rel="stylesheet" />
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link rel="preconnect" href="https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Lato&display=swap">

</head>

<body>
    <component param-Environment='@hostingEnv.EnvironmentName' type="typeof(App)" render-mode="WebAssemblyPrerendered" />

    <persist-component-state />

    <div id="blazor-error-ui">
        An unhandled error has occurred.
        <a href="/" class="reload">Reload</a>
        <button class="dismiss">🗙</button>
    </div>
  <script src="_framework/blazor.webassembly.js" defer autostart="false"></script>
  <script>
	  document.addEventListener("DOMContentLoaded", function() {
		setTimeout(function() { Blazor.start(); },1200);
	});
  </script></body>

</html>

