@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using System.Collections
@using mosley_website.Client.Pages;

<CascadingValue Value="this">
    <CascadingValue Value="IsAuthorized">
        @if (!IsAuthorized)
        {
            <ComingSoon />
        }
        else
        {
            <NavMenu/>

            <main>
                @Body
            </main>
        }
    </CascadingValue>
</CascadingValue>



@code {
    [CascadingParameter]
    public string Environment { get; set; }

    public bool IsAuthorized { get; set; }

    public void Authorize()
    {
        IsAuthorized = true;
        if (IsAuthorized)
        {
            NavigationManager.NavigateTo("/");
        }
    }
}