@inherits LayoutComponentBase
@inject NavigationManager NavigationManager
@using System.Collections
@using mosley_website.Client.Pages;

<CascadingValue Value="this">
    <CascadingValue Value="IsAuthorized">

        @if (Environment == "Development" || Environment == "Staging")
        {
            @if (!IsAuthorized)
            {
                <ComingSoon />
            }
            else
            {
                <NavMenu />

                <main class="site-content">
                    @Body
                </main>



                <NintechFooter />
            }
        }
        else
        {
            <NavMenu />

            <main class="site-content">
                @Body
            </main>


            <NintechFooter />
        }

    </CascadingValue>
</CascadingValue>



@code {
    [CascadingParameter]
    public string Environment { get; set; }

    public bool IsAuthorized { get; set; } = true;

    public void Authorize()
    {
        if (Environment == "Development" || Environment == "Staging")
        {
            IsAuthorized = true;
            if (IsAuthorized)
            {
                NavigationManager.NavigateTo("/");
            }
        }
        else
        {
            NavigationManager.NavigateTo("/");
        }

    }
}