@inherits LayoutComponentBase
@inject NavigationManager MyNavigationManager

@using mosley_website.Client.Pages;

<CascadingValue Value="IsAuthorized">
    <body>
        @if (IsAuthorized)
        {
            <NavMenu />
        }
        <main>
            @Body
        </main>
    </body>
</CascadingValue>


@code {
    public bool IsAuthorized { get; set; }
}