<nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-dark bg-dark border-bottom box-shadow mb-3 fixed-top">
    <div class="container">
        <a class="navbar-brand text-light" href="">Mosley Website</a>
        <div class=" navbar-collapse d-sm-inline-flex flex-sm-row-reverse">
            <ul class="navbar-nav flex-grow-1">
                <li class="nav-item">
                    <a class="nav-link text-light" href="/Calendar" Match="NavLinkMatch.All">Calendar</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/Documents" Match="NavLinkMatch.All">Documents</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/AboutUs" Match="NavLinkMatch.All">About Us</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link text-light" href="/carousel" Match="NavLinkMatch.All">carousel</a>
                </li>
            </ul>
        </div>
    </div>
</nav>


