@using mosley_website.Client.Pages

<nav class="navbar">
    <ul class="navbar-nav">
        <li class="logo nav-item">
            <a href="#" class="nav-link">Mosley</a>
        </li>
        <li class="nav-item dropdown">
            <NavLink class="nav-link" Match="NavLinkMatch.All">Ensembles</NavLink>
            <div class="dropdown-content">
                <a class="nav-link dropdown-item" href="/Ensembles/Sotsl">Sound of the Southland</a>
                <a class="nav-link dropdown-item" href="/Ensembles/SymphonyBand">Symphony Band</a>
                <a class="nav-link dropdown-item" href="/Ensembles/SymphonicBand">Symphonic Band</a>
                <a class="nav-link dropdown-item" href="/Ensembles/Jazz">Jazz Ensemble</a>
                <a class="nav-link dropdown-item" href="/Ensembles/Percussion">Percussion</a>
                <a class="nav-link dropdown-item" href="/Ensembles/Colorguard">Colorguard</a>
            </div>
        </li>
        <li class="nav-item dropdown">
            <NavLink class="nav-link" href="/Resources" Match="NavLinkMatch.All">Resources</NavLink>
            <div class="dropdown-content">
                <NavLink class="nav-link dropdown-item" href="/Calendar" Match="NavLinkMatch.All">Calendar</NavLink>
                <NavLink class="nav-link dropdown-item" href="/Boosters" Match="NavLinkMatch.All">Boosters</NavLink>
            </div>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="https://snap-raise.com/v2/fundraisers/a-crawford-mosley-hs-band-drive-2021#/" Match="NavLinkMatch.All">Donate Now!</NavLink>
        </li>
        <li class="nav-item">
            <NavLink class="nav-link" href="/College" Match="NavLinkMatch.All">College</NavLink>
        </li>
    </ul>
</nav>
